body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    margin-top: 5%;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container form div {
    margin-bottom: 15px;
  }
  
  .form-container form label {
    margin-bottom: 5px;
  }
  
  .form-container form input,
  .form-container form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .radio-group {
    margin-top: 10px;
    display: flex;
    gap: 50px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .form-container form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container form button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    margin-bottom: 15px;
  }
  
  .login-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  .error-message {
    color: red;
    text-align: center;
  }