
<footer class="footer bg-light">
    <div class="container">
    
      <div class="row mb-4">
       
        <div class="col-md-4 mr-4 ">
          <h5>About</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
          <p>Email: exampleexample.com</p>
          <p>Phone: +123456789</p>
        </div>
  
        
        <div class="col-md-2 col-6 ">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Archived</a></li>
            <li><a href="#">Author</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
  
       
        <div class="col-md-2 col-6 ">
          <h5>Categories</h5>
          <ul class="list-unstyled">
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Economy</a></li>
            <li><a href="#">Sports</a></li>
          </ul>
        </div>
  
      
        <div class="col-md-4  Newsletter-box ">
            <div class="m-4">
          <h5 class="text-center ">weakly Newsletter</h5>
          <p  style="color: rgb(198, 198, 198);" class="text-center">Get blog articles and offers via email</p>
        </div>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
      <hr class="my-4 mt-5" style="border-color: gray;">
      <div class="d-md-flex justify-content-between">
        
        <div class="d-flex align-items-center">
          <img src="../../../assets/images/Logo (1).png" width="50" alt="Logo" class="mr-3">
          <div>
          <img src="../../../assets/images/MetaBlog.png" width="70" alt="logo" class="img-fluid mr-3s">
          <p>© JS Template 2023. All Rights Reserved.</p>
        </div>

        </div>
  
        <div class="d-flex align-items-center">
            <p class="ml-3">Terms of Use</p>
            <span class="vertical-line"></span>
            <p class="ml-3">Privacy Policy</p>
            <span class="vertical-line"></span>
            <p class="ml-3">Cookie Policy</p>
          </div>
      </div>
    </div>
  </footer>
  